#box-model{
    width: 500px;
    height: 250px;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 30px;
    border: 1px solid black;
    outline: 1px solid #ff0000;
}

.titulos{
    background-color: #a70000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    outline: 2px solid black ;
}