Node_JS/5_ACCOUNTS
Git_GitHub
Front-And/Html e CSS/Estruta_Site/4_Projeto_Raul_Seixas
Front-And/Html e CSS/Estruta_Site/6_Venda_Seu_Carro
Front-And/Html e CSS/Estruta_Site/8_PKL_DEVELOPER
Front-And/Html e CSS/Estruta_Site/10_Clone_Instagram
Front-And/Html e CSS/Estruta_Site/12_Blog_Pkl
Front-And/JavaScript/Estruta_JS/11_Tabuada
Front-And/JavaScript/Estruta_JS/12_qeCodeGenerator
Front-And/JavaScript/Estruta_JS/13_copiaVendasApple
Front-And/JavaScript/Estruta_JS/14_CalculadoraDeIMC
Front-And/JavaScript/Estruta_JS/17_LazyLoading
Front-And/JavaScript/Estruta_JS/18_TodoList
Front-And/JavaScript/Estruta_JS/19_GeradorSenhas
Front-And/JavaScript/Estruta_JS/20_DevNotes
Front-And/JavaScript/Estruta_JS/21_BoxShandow
Front-And/z-Power_Point
Front-And/ReactJS/6_CALC_IMC
Front-And/ReactJS/8_MultiStep_Form
Front-And/ReactJS/10_Quiz
Front-And/ReactJS/11_ContDown