body {
    padding-bottom: 500px;
}

div {
    margin-bottom: 10px;
}

div input, 
div label{
    display: block;
}

.radio label,
.radio input,
.radio span,
.radio div {
    display: inline-block;
}

.input_radio input{
    display: inline-block;
}