/* 4 - External */ 
p{
    color: #000;
}

body {
    padding-bottom: 500px;
}

h3 {
    color: chocolate;
}

h4{
    font-size: 25px;
    color: chocolate;
}

/* Comentarios CSS */

.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
}

#exclusive-title {
    background-color: purple;
    color:yellow;
    padding: 10px;
}

h2 {
    border-bottom: 2px solid black;
}

.multiplas_class{
    border-bottom: 3px solid blue;
}

#multiplas_id{
    border-bottom: 4px solid red;
}

.color-name{
    color:crimson;
}

.hex{
    color: #55a398;
}
.hex-2{
    color: #FFc838;
}

.rgb{
    color:rgb(255, 0, 0);
}
.rgb2{
    color: rgb(43, 42, 42);
}

.rgba-color{
    color: rgba(99,65,32,0.3);
}

.hsl-teste{
    color: hsl(100, 20%, 60%);
}

.bg {
    background-color: black;
    color: white;
}

.bg-opacity { 
    background-color: blue;
    opacity: 0.5;
}

.rgba-opacity {
    background-color: rgba(68, 68, 68, 0.2);
    color: #000;
}

.bg-img {
    background-image: url("../Img/bebe\ meme.jpg");
}

.center-bg{
    height: 400px;
    width: 400px;
    background-image: url(../Img/bebe\ meme.jpg);
}

.center-bg {
    background-position: center;
    background-size: cover;
}


.altura_largura{
 height: 200px;
 width: 100px;
 background-color: red;

}
.altura_largura2{
    height: 300px;
    background-color: #333;
}

.without-padding,
.padding{
    background-color: #000;
    color: white;
    border: 1px solid yellow;
}
.padding{
    padding: 20px;
}

.padding-individual{
    background-color: #222;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.shorthand, .shorthand2{
    margin-top: 30px;
    background-color: #333;
    color: white;
    color: yellow;
}

.shorthand{
    padding: 6px 12px 18px 24px;
}
.shorthand2{
    padding: 10px 20px;
}

.without-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;

}

.border-box{
    background-color: #555;
    color: #fff;
    width: 400px; 
    padding: 50px;
    box-sizing: border-box;
}

.border{
    border: 5px solid red;
}

.border2{
    border: 2px dotted #555;
    padding: 15px;
}

.border-left{
    border-left: 3px solid rgb(26, 26, 26);
    background-color: #979797;
}

.border-bottom { 
    border-bottom: 5px double #979797;
}

.radius{
    background-color: #000;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.margin{
    margin: 10px;
    background-color: #000;
}

.margin-top{
    margin-top: 15px;
    background-color: #222;
}

.margin-shorthand{
    margin: 10px 20px 30px 40px;
    background-color: #FFc838;
}

.box-model{
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #222;
    border-radius: 15px;
    width: 200px;
    height: 100px;
}

.box-model p{
    color: #000;
}

.text-aligned{
   text-align: right; 
}

.text-alain{
    text-align: center;
}

.text-alain .without-alinhamento {
    text-align: left;
}

.without-decoration {
    text-decoration: none;
}

.underline{
    text-decoration: underline;
}

.line-trough{
    text-decoration: line-through;
}

.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

.unica_letra::first-letter {
    text-transform: uppercase;
}

.unica_letra span {
   text-transform: uppercase;
}

.spacing {
    letter-spacing: 5px;
    text-align: center;
    border: none;
}

p{
    color: #000;
}

.serif{
    font-family: serif;
}
.sans-serif {
    font-family: sans-serif;
}
.monospace{
    font-family: monospace;
}
.cursive {
    font-family: cursive;
}
.fantasy{
    font-family: fantasy;
}

.italic{
    font-style: italic;
}
.oblique{
    font-style: oblique;
}

.thin, .bold, .bolder{
    font-family: Helvetica;
}

.thin{
    font-weight: 100;
}
.bold{
    font-weight: 600;
}
.bolder{
    font-weight: 900;
}

.small{
    font-size: 10px;
}

.big{
    font-size: 40px;
}

.inline-box{
    width: 200px;
    height: 200px;
    background-color:#555;
    margin: 10px;
    display: inline-block;
}

.invisible{
    display: none;
}

.static{
    position: static;
    background-color: #000000;
    color: white;
    width: 100px;
    height: 100px;
}

.relative {
    position: relative;
    top: 100px;
    left: 40px;
    background-color: #1b1b1b;
    color: white;
    width: 100px;
    height: 100px;
}

.absolute{
    position: absolute;
    background-color: #6e6e6e;
    color: white;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
}

.relative-container{
    width: 500px;
    height: 500px;
    border: solid 1px blue ;
    margin-top: 100px;
    position: relative;
}

.absolute-01, .absolute-02 {
    width: 50px;
    height: 50px;
    background-color: #000;
    position: absolute;
}
.absolute-01{
    top: 10px;
    left: 10px;
}
.absolute-02{
    bottom: 10px;
    right: 10px;
}

.fixed{
    width: 50px;
    height: 50px;
    border: solid 1px blue ;
    background-color: #FFc838;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.sticky{
    width: 50px;
    height: 50px;
    border: solid 1px rgb(83, 83, 83) ;
    background-color: #fee198;
    position: sticky;
    bottom: 10px;
    left: 10px;
}
.absolute3, .absolute4, .absolute5{
    width: 50px;
    height: 50px;
    background-color: #fee198;
    position: absolute;   
}

.absolute3{
    top: 0px;
    left: 0px;
    z-index:3
}

.absolute4{
    top: 10px;
    left:10px;
    background-color: orange;
    z-index: 2;
}

.absolute5{
    top: 20px;
    left: 20px;
    background-color: purple;
    z-index: 1;
}