body{
    margin-bottom: 1000px;
}

#btn-container{
    padding: 30px 50px;
    background-color: green;
}

#div-btn{
   border-radius: 15px;
   border: 0px;
   background-color: white;
   color: red;
}